Repository sahrohit/fullstack-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"apps/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
	"packages/**/*.{ts,tsx,js,jsx}": ["prettier --write"],
	"**/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc}": ["prettier --write"]
}

feat(storefront): :sparkles: made the query section functional
  apps/admin/src/generated/graphql.ts
  apps/api/src/resolvers/product.ts
  apps/storefront/src/generated/graphql.ts
  apps/storefront/src/graphql/query/product/queryProducts.graphql
  apps/storefront/src/pages/products/index.tsx
Due: eslint --fix, prettier --write

fix(storefront): :ambulance: hot fix for filtering items
  apps/admin/src/generated/graphql.ts
  apps/api/src/resolvers/product.ts
  apps/storefront/src/components/shared/product/PriceSelector.tsx
  apps/storefront/src/generated/graphql.ts
  apps/storefront/src/graphql/query/product/mostExpensive.graphql
Due: eslint --fix, prettier --write

fix(api): :arrow_up: updated node version 18 since fetch is not working
  apps/api/.nvmrc
Due: none

fix(api): :bug: fixed bug where review summary failed for unauthenticated users
  apps/api/src/resolvers/review.ts
Due: eslint --fix, prettier --write

fix(api): :ambulance: fixed invisible chracter bug in .nvmrc file
  apps/api/.nvmrc
Due: none

fix(api): :construction_worker: updated the req url in khalti callback
  apps/api/src/resolvers/order.ts
Due: eslint --fix, prettier --write

fix(api): :poop: hardcoded the frontend url
  apps/api/src/resolvers/order.ts
Due: eslint --fix, prettier --write

fix(api): :bug: hardcoded prices while initiating payment
  apps/api/src/resolvers/order.ts
Due: eslint --fix, prettier --write

chore(api): :pushpin: managed dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(api): :heavy_minus_sign: removed graphql/upload
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(storefront): :fire: removed mock data
  apps/storefront/src/data/address.ts
  apps/storefront/src/data/cart.ts
  apps/storefront/src/data/category.ts
  apps/storefront/src/data/options.ts
  apps/storefront/src/data/order.ts
  apps/storefront/src/data/products.ts
  apps/storefront/src/data/reviews.ts
  apps/storefront/src/data/temp.ts
Due: eslint --fix, prettier --write

fix(storefront): :bug: added options to fix deployment
  apps/storefront/src/data/options.ts
Due: eslint --fix, prettier --write

feat(storefront): :sparkles: added search ui in navbar
  apps/storefront/package.json
  apps/storefront/src/components/shared/Search.tsx
  apps/storefront/src/components/shared/navbar/NavContent.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(api): :sparkles: added full text search for products
  apps/api/package.json
  apps/api/src/data-source.ts
  apps/api/src/entities/Product.ts
  apps/api/src/migrations/1686176333306-SetupFullTextSearch.ts
  apps/api/src/resolvers/product.ts
  apps/api/tsconfig.json
Due: eslint --fix, prettier --write

feat(storefront): :sparkles: implement full text search resovler in the search ui
  apps/admin/src/generated/graphql.ts
  apps/api/src/resolvers/product.ts
  apps/storefront/package.json
  apps/storefront/src/components/shared/Search.tsx
  apps/storefront/src/components/shared/product/PriceSelector.tsx
  apps/storefront/src/generated/graphql.ts
  apps/storefront/src/graphql/query/product/mostExpensive.graphql
  apps/storefront/src/graphql/query/product/searchProducts.graphql
  apps/storefront/src/graphql/query/product/summary.graphql
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(storefront): :lipstick: updated search ui
  apps/storefront/next.config.js
  apps/storefront/package.json
  apps/storefront/src/components/shared/Search.tsx
  apps/storefront/src/styles/globals.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(api): :boom: changed compiler from tsup to tsc
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/data-source.ts
  apps/api/src/env.d.ts
  apps/api/src/index.ts
  apps/api/src/migration/1686176333306-SetupFullTextSearch.ts
  apps/api/src/resolvers/GqlObjets/ProductResponse.ts
  apps/api/src/resolvers/cart.ts
  apps/api/src/resolvers/favourite.ts
  apps/api/src/resolvers/order.ts
  apps/api/src/resolvers/product.ts
  apps/api/src/resolvers/promo.ts
  apps/api/src/resolvers/review.ts
  apps/api/src/resolvers/role.ts
  apps/api/src/resolvers/variant.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(api): :adhesive_bandage: seperated build and start scripts
  apps/api/package.json
Due: prettier --write

build(api): :arrow_up: updated apollo server to v4
  apps/api/package.json
  apps/api/src/desc.d.ts
  apps/api/src/index.ts
  apps/api/src/utils/validator.ts
  apps/api/tsconfig.json
  packages/eslint-config-custom-server/index.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(api): :arrow_up: updated dependencies and graphql to v16
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(root): :bug: updated graphql to v16 everywhere
  apps/api/package.json
  apps/api/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(root): :memo: updated Readme
  README.md
Due: prettier --write

ci(api): :rocket: dockerized 🐳 the backend api
  apps/api/.dockerignore
  apps/api/.eslintrc.js
  apps/api/.gitignore
  apps/api/nginx/nginx.conf
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci(api): :ambulance: removed dockerfiles from gitignore
  apps/api/.gitignore
  apps/api/Dockerfile
  apps/api/docker-compose.yml
  apps/api/nginx/Dockerfile
Due: prettier --write

ci(api): :rocket: updated nginx conf
  apps/api/docker-compose.yml
  apps/api/nginx/nginx.conf
Due: prettier --write

ci(api): :rocket: updated nginx conf
  apps/api/Dockerfile
  apps/api/docker-compose.yml
  package.json
Due: prettier --write

ci(api): :rocket: added deploy.yml workflow
  .github/workflows/deploy.yml
Due: prettier --write

ci(api): :rocket: fix typo
  .github/workflows/deploy.yml
Due: prettier --write

ci(api): :rocket: updated config for deployment
  apps/api/Procfile
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

refactor(root): :closed_lock_with_key: updated example envs
  apps/storefront/.env.example
  apps/storefront/env.d.ts
Due: eslint --fix, prettier --write

ci(root): :rocket: set automated deployment for backend
  .github/workflows/deploy.yml
Due: prettier --write

ci(root): :rocket: set automated deployment for backend #2
  .github/workflows/deploy.yml
Due: prettier --write

style(storefront): :sparkles: updated navbar ui
  apps/storefront/constants.ts
  apps/storefront/src/components/shared/Search.tsx
  apps/storefront/src/components/shared/banner/CallToActionLink.tsx
  apps/storefront/src/components/shared/banner/index.tsx
  apps/storefront/src/components/shared/navbar/NavContent.tsx
  apps/storefront/src/components/shared/navbar/NavLink.tsx
  apps/storefront/src/components/shared/navbar/Submenu.tsx
  apps/storefront/src/components/shared/navbar/index.tsx
  apps/storefront/src/config/navbar.tsx
  apps/storefront/src/pages/index.tsx
Due: eslint --fix, prettier --write

style(web): :lipstick: updated navbar and footer
  apps/storefront/src/components/pages/product/ProductCard.tsx
  apps/storefront/src/components/pages/product/ProductGrid.tsx
  apps/storefront/src/components/shared/Footer.tsx
  apps/storefront/src/components/shared/banner/index.tsx
  apps/storefront/src/components/shared/navbar/NavContent.tsx
  apps/storefront/src/components/shared/navbar/ToggleButton.tsx
  apps/storefront/src/config/brands.tsx
Due: eslint --fix, prettier --write

style(web): :lipstick: updated locale pricing
  apps/storefront/src/components/pages/product/ProductCard.tsx
  apps/storefront/src/components/shared/product/PriceTag.tsx
Due: eslint --fix, prettier --write

fix(storefront): :bug: fixed auto fill adress
  apps/storefront/src/components/pages/account/address/AddressForm.tsx
Due: eslint --fix, prettier --write

fix(storefront): :bug: made the address error toast closable
  apps/storefront/src/components/pages/account/address/AddressForm.tsx
Due: eslint --fix, prettier --write

feat(api): :sparkles: added resend as email client
  apps/api/package.json
  apps/api/src/constants.ts
  apps/api/src/index.ts
  apps/api/src/resolvers/user.ts
  apps/api/src/utils/sendEmail.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
