Repository sahrohit/fullstack-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(others): :ambulance: eslint fix residue
  apps/oldstore/components/hooks/useDrag.ts
  apps/storefront/src/components/shared/navbar/NavContent.tsx
Due: eslint --fix, prettier --write

ci(others): :zap: remove lint from husky
  .husky/pre-commit
Due: none

fix(others): :ambulance: fixed eslint build errors
  apps/oldstore/components/junk/ScrollingCategories.tsx
  apps/storefront/src/pages/cart/index.tsx
  apps/storefront/src/pages/category/index.tsx
Due: eslint --fix, prettier --write

ci: :memo: updated action for licence update
  .github/workflows/update-license.yml
Due: prettier --write

chore(others): ✨ Update license to current year
  LICENSE.txt
Due: none

fix(components): :art: fixed grids not rendering issue
  apps/storefront/src/components/pages/category/CategoryGrid.tsx
  apps/storefront/src/components/pages/product/ProductGrid.tsx
  apps/storefront/src/components/shared/navbar/NavMenu.tsx
Due: eslint --fix, prettier --write

feat(components): :art: updated the quanity select layout
  apps/storefront/src/components/pages/cart/CartItem.tsx
  apps/storefront/src/components/pages/cart/DrawerCartItem.tsx
  apps/storefront/src/components/shared/cart/QuantitySelect.tsx
Due: eslint --fix, prettier --write

perf(components): :zap: converted quantity input into actual input from text
  apps/storefront/src/components/pages/cart/CartItem.tsx
  apps/storefront/src/components/pages/cart/DrawerCartItem.tsx
  apps/storefront/src/components/shared/cart/QuantitySelect.tsx
Due: eslint --fix, prettier --write

refactor(pages): :lipstick: made category grid responsive
  apps/storefront/src/pages/category/index.tsx
Due: eslint --fix, prettier --write

chore(config): :white_check_mark: added domains for next images
  apps/storefront/next.config.js
Due: eslint --fix, prettier --write

feat(components): :art: added carousel and image grids
  apps/storefront/src/components/pages/product/Carousel.tsx
  apps/storefront/src/components/pages/product/ImageGrid.tsx
  apps/storefront/src/hooks/useDetectSwipe.ts
Due: eslint --fix, prettier --write

feat(pages): :sparkles: added individual product page
  apps/storefront/src/pages/products/[id].tsx
Due: eslint --fix, prettier --write

chore: :white_check_mark: updated turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(components): :lipstick: fixed carousel
  apps/storefront/src/components/pages/product/Carousel.tsx
  apps/storefront/src/pages/products/[id].tsx
Due: eslint --fix, prettier --write

refactor(components): :recycle: refactored product details page
  apps/storefront/src/components/pages/product/Carousel.tsx
  apps/storefront/src/components/pages/product/ProductDetails.tsx
  apps/storefront/src/pages/products/[id].tsx
Due: eslint --fix, prettier --write

feat(components): :tada: added customer review section
  apps/storefront/src/components/pages/product/review/ProductReview.tsx
  apps/storefront/src/components/pages/product/review/ReviewCard.tsx
  apps/storefront/src/data/mock/reviews.ts
Due: eslint --fix, prettier --write

feat(components): :lipstick: added product preview modal
  apps/storefront/src/components/pages/product/ProductCard.tsx
  apps/storefront/src/components/pages/product/details/QuickView.tsx
Due: eslint --fix, prettier --write

feat(components): :sparkles: added navigation menu instead of login options
  apps/storefront/src/components/pages/cart/DrawerCart.tsx
  apps/storefront/src/components/shared/navbar/NavContent.tsx
  apps/storefront/src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor(data): :rocket: reloacted configs
  apps/storefront/src/components/pages/cart/DrawerCart.tsx
  apps/storefront/src/components/pages/cart/index.tsx
  apps/storefront/src/components/shared/navbar/NavContent.tsx
  apps/storefront/src/components/shared/navbar/Submenu.tsx
  apps/storefront/src/config/navbar.tsx
  apps/storefront/src/data/cart.ts
  apps/storefront/src/data/category.ts
  apps/storefront/src/data/options.ts
  apps/storefront/src/data/products.ts
  apps/storefront/src/data/reviews.ts
  apps/storefront/src/data/temp.ts
Due: eslint --fix, prettier --write

fix(data): :ambulance: fixed the last commit import paths
  apps/storefront/src/components/pages/product/ProductCard.tsx
  apps/storefront/src/components/pages/product/ProductDetails.tsx
  apps/storefront/src/components/shared/product/BrandSelector.tsx
  apps/storefront/src/pages/index.tsx
  apps/storefront/src/pages/products/index.tsx
Due: eslint --fix, prettier --write

feat(components): :sparkles: added account page
  apps/storefront/src/components/pages/account/AccountPreference.tsx
  apps/storefront/src/components/pages/account/AccountSetting.tsx
  apps/storefront/src/components/pages/account/Address.tsx
  apps/storefront/src/components/pages/account/Card.tsx
  apps/storefront/src/components/pages/account/DangerZone.tsx
  apps/storefront/src/components/pages/account/FieldGroup.tsx
  apps/storefront/src/components/pages/account/HeadingGroup.tsx
  apps/storefront/src/components/pages/account/SocialAccount.tsx
  apps/storefront/src/components/pages/account/SocialAccountSettings.tsx
  apps/storefront/src/components/shared/navbar/NavContent.tsx
  apps/storefront/src/pages/account.tsx
Due: eslint --fix, prettier --write

refactor(components): :lipstick: refactored address component
  apps/storefront/src/components/pages/account/Address.tsx
  apps/storefront/src/pages/account.tsx
Due: eslint --fix, prettier --write

refactor(components): :lipstick: refactored data
  apps/storefront/src/components/pages/product/review/ProductReview.tsx
  apps/storefront/src/pages/category/index.tsx
Due: eslint --fix, prettier --write

feat(components): :fire: added sidebar
  apps/storefront/src/components/pages/account/Address.tsx
  apps/storefront/src/components/shared/sidebar/NavLink.tsx
  apps/storefront/src/components/shared/sidebar/SearchField.tsx
  apps/storefront/src/components/shared/sidebar/Sidebar.tsx
  apps/storefront/src/components/shared/sidebar/UserProfile.tsx
  apps/storefront/src/components/shared/sidebar/index.tsx
  apps/storefront/src/pages/account.tsx
  apps/storefront/src/pages/test.tsx
Due: eslint --fix, prettier --write

build(components): :sparkles: sidebar
  apps/storefront/src/components/helpers/withSidebar.tsx
  apps/storefront/src/components/shared/sidebar/NavLink.tsx
  apps/storefront/src/components/shared/sidebar/SearchField.tsx
  apps/storefront/src/components/shared/sidebar/Sidebar.tsx
  apps/storefront/src/components/shared/sidebar/index.tsx
  apps/storefront/src/config/sidebar.tsx
  apps/storefront/src/pages/account.tsx
  apps/storefront/src/pages/account/address.tsx
  apps/storefront/src/pages/account/helpcenter.tsx
  apps/storefront/src/pages/account/index.tsx
  apps/storefront/src/pages/account/orders.tsx
  apps/storefront/src/pages/account/preference.tsx
  apps/storefront/src/pages/account/returns.tsx
Due: eslint --fix, prettier --write

perf(pages): :zap: rendered the sidebar once in _app instead of every page
  apps/storefront/src/pages/_app.tsx
  apps/storefront/src/pages/account/address.tsx
  apps/storefront/src/pages/account/helpcenter.tsx
  apps/storefront/src/pages/account/index.tsx
  apps/storefront/src/pages/account/orders.tsx
  apps/storefront/src/pages/account/preference.tsx
  apps/storefront/src/pages/account/returns.tsx
Due: eslint --fix, prettier --write

fix(components): :white_check_mark: fixed the address page
  apps/storefront/src/components/pages/account/Address.tsx
  apps/storefront/src/components/pages/account/address/Address.tsx
  apps/storefront/src/data/address.ts
  apps/storefront/src/pages/account/address.tsx
Due: eslint --fix, prettier --write

Update .nvmrc
  apps/api/.nvmrc
Due: none

Update .nvmrc
  ecomm-server/.nvmrc
Due: none

fix(components): :bug: fixed minor address page bugs
  apps/storefront/src/components/pages/account/address/Address.tsx
  apps/storefront/src/pages/account/address.tsx
Due: eslint --fix, prettier --write

feat(components): :art: added confirmation modal button
  apps/storefront/src/components/helpers/ConfirmationModal.tsx
  apps/storefront/src/components/pages/account/address/Address.tsx
Due: eslint --fix, prettier --write

feat(components): :zap: added Address Form
  apps/storefront/src/components/pages/account/address/AddressForm.tsx
Due: eslint --fix, prettier --write

build(components): :fire: added modal for add and update address
  apps/storefront/src/components/pages/account/address/Address.tsx
  apps/storefront/src/components/pages/account/address/AddressForm.tsx
  apps/storefront/src/components/ui/ModalButton.tsx
  apps/storefront/src/pages/account/address.tsx
Due: eslint --fix, prettier --write

feat(components): :art: added order cards
  apps/storefront/src/components/pages/account/order/OrderCard.tsx
  apps/storefront/src/data/order.ts
  apps/storefront/src/pages/account/orders.tsx
Due: eslint --fix, prettier --write

chore(config): :adhesive_bandage: fixed peer dependecy issue
  .npmrc
Due: none

chore(config): :zap: graphql codegen init
  apps/storefront/.eslintrc.js
  apps/storefront/graphql.config.js
  apps/storefront/package.json
  apps/storefront/src/config/theme.ts
  apps/storefront/src/generated/graphql.ts
  apps/storefront/src/graphql/query/me.graphql
  apps/storefront/src/graphql/query/products.graphql
  apps/storefront/src/pages/_app.tsx
  apps/storefront/src/pages/test.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(services): :arrow_up: updated turbo from 1.9.1 to 1.9.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(pages): :construction: admin init
  apps/admin/.eslintrc.js
  apps/admin/graphql.config.js
  apps/admin/package.json
  apps/admin/src/config/theme.ts
  apps/admin/src/generated/graphql.ts
  apps/admin/src/graphql/query/me.graphql
  apps/admin/src/graphql/query/products.graphql
  apps/admin/src/pages/_app.tsx
  apps/admin/src/pages/_document.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(pages): :adhesive_bandage: fixed colormode scrpit issue
  apps/storefront/src/pages/_document.tsx
Due: eslint --fix, prettier --write

build(pages): :fire: added login logic
  apps/storefront/src/components/auth/LoginForm.tsx
  apps/storefront/src/graphql/mutation/user/login.graphql
  apps/storefront/src/graphql/query/me.graphql
  apps/storefront/src/graphql/query/user/me.graphql
  apps/storefront/src/pages/test.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/**/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: apps/**/*.{ts,tsx,js,jsx}) or (any of: packages/**/*.{ts,tsx,js,jsx})) or (any of: **/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc})
