Repository sahrohit/fullstack-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"apps/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
	"packages/**/*.{ts,tsx,js,jsx}": ["prettier --write"],
	"**/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc}": ["prettier --write"]
}

build(root): :heavy_plus_sign: added ui package for shared code
  apps/admin/src/components/auth/LoginForm.tsx
  packages/ui/package.json
  packages/ui/react-table.d.ts
  packages/ui/src/CounterButton/index.tsx
  packages/ui/src/Input/QuantitySelect.tsx
  packages/ui/src/Input/ToggleButton.tsx
  packages/ui/src/Input/checkbox/Checkbox.tsx
  packages/ui/src/Input/checkbox/CheckboxBox.tsx
  packages/ui/src/Input/radio/large/LargeButtonRadio.tsx
  packages/ui/src/Input/radio/large/LargeButtonRadioGroup.tsx
  packages/ui/src/Input/radio/list/ListRadio.tsx
  packages/ui/src/Input/radio/list/ListRadioBox.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useDetectSwipe.ts
  packages/ui/src/hooks/useLocalStorage.ts
  packages/ui/src/index.tsx
  packages/ui/src/modal/ConfirmationModal.tsx
  packages/ui/src/modal/ModalButton.tsx
  packages/ui/src/step/Step.tsx
  packages/ui/src/step/StepConnector.tsx
  packages/ui/src/step/StepContent.tsx
  packages/ui/src/step/StepContext.tsx
  packages/ui/src/step/Steps.tsx
  packages/ui/src/step/index.tsx
  packages/ui/src/step/useStep.ts
  packages/ui/src/step/useSteps.tsx
  packages/ui/src/table/index.tsx
  packages/ui/src/timeline/List.tsx
  packages/ui/src/timeline/ListItem.tsx
  packages/ui/src/timeline/index.tsx
  packages/ui/src/ui/DividerWithText.tsx
  packages/ui/src/ui/HeadingGroup.tsx
  packages/ui/src/ui/PriceTag.tsx
  packages/ui/src/ui/Result.tsx
  packages/ui/src/ui/UnderlineLink.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(admin): :recycle: fixed imports from ui packages
  apps/admin/src/components/auth/RegisterForm.tsx
  apps/admin/src/components/helpers/ConfirmationModal.tsx
  apps/admin/src/components/pages/settings/Contact.tsx
  apps/admin/src/components/pages/settings/DeliveryOptions.tsx
  apps/admin/src/components/pages/settings/Domains.tsx
  apps/admin/src/components/pages/settings/KYC.tsx
  apps/admin/src/components/pages/settings/StoreDetails.tsx
  apps/admin/src/components/shared/PriceTag.tsx
  apps/admin/src/components/shared/Result.tsx
  apps/admin/src/components/ui/DividerWithText.tsx
  apps/admin/src/components/ui/Domain.tsx
  apps/admin/src/components/ui/HeadingGroup.tsx
  apps/admin/src/components/ui/InputField.tsx
  apps/admin/src/components/ui/ModalButton.tsx
  apps/admin/src/components/ui/QuantitySelect.tsx
  apps/admin/src/components/ui/UnderlineLink.tsx
  apps/admin/src/components/ui/step/Step.tsx
  apps/admin/src/components/ui/step/StepConnector.tsx
  apps/admin/src/components/ui/step/StepContent.tsx
  apps/admin/src/components/ui/step/StepContext.tsx
  apps/admin/src/components/ui/step/Steps.tsx
  apps/admin/src/components/ui/step/index.tsx
  apps/admin/src/components/ui/step/useStep.ts
  apps/admin/src/components/ui/step/useSteps.tsx
  apps/admin/src/components/ui/table/index.tsx
  apps/admin/src/components/ui/timeline/List.tsx
  apps/admin/src/components/ui/timeline/ListItem.tsx
  apps/admin/src/components/ui/timeline/index.tsx
  apps/admin/src/hooks/useDetectSwipe.ts
  apps/admin/src/hooks/useLocalStorage.ts
  apps/admin/src/pages/auth/change-password/[token].tsx
  apps/admin/src/pages/auth/forgot-password.tsx
  apps/admin/src/pages/auth/login.tsx
  apps/admin/src/pages/auth/register.tsx
  apps/admin/src/pages/auth/verify-email/[token].tsx
  apps/admin/src/pages/dashboard/category.tsx
  apps/admin/src/pages/dashboard/settings.tsx
  apps/admin/src/pages/dashboard/staffs.tsx
  packages/ui/src/index.tsx
  packages/ui/src/utils/helpers.ts
Due: eslint --fix, prettier --write

ci(root): :green_heart: fixed lint-staged
  .husky/pre-commit
  .lintstagedrc
  apps/admin/package.json
  packages/generated-graphql/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(root): :arrow_up: updated turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(root): :bug: fixed eslint issue
  apps/admin/package.json
  apps/storefront/package.json
  package.json
  packages/generated-graphql/package.json
  packages/ui/package.json
  turbo.json
Due: prettier --write

fix(root): :bug: fixed build errors and updated readme
  README.md
  apps/storefront/src/components/pages/account/address/AddressForm.tsx
Due: eslint --fix, prettier --write

refactor(ui): :recycle: refactored imports and exports & clear git cache
  apps/storefront/next-env.d.ts
  commitlint.config.js
  packages/ui/src/Input/radio/list/ListRadioBox.tsx
  packages/ui/src/index.tsx
  packages/ui/src/input/InputField.tsx
  packages/ui/src/input/QuantitySelect.tsx
  packages/ui/src/input/ToggleButton.tsx
  packages/ui/src/input/checkbox/Checkbox.tsx
  packages/ui/src/input/checkbox/CheckboxBox.tsx
  packages/ui/src/input/index.tsx
  packages/ui/src/input/radio/large/LargeButtonRadio.tsx
  packages/ui/src/input/radio/large/LargeButtonRadioGroup.tsx
  packages/ui/src/input/radio/list/ListRadio.tsx
  packages/ui/src/modal/index.tsx
  packages/ui/src/ui/index.tsx
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write

fix(api): :ambulance: fixed init migration
  apps/api/src/migration/1694454773982-Init.ts
Due: eslint --fix, prettier --write

build(root): :arrow_up: updated to node 20
  .node-version
  apps/api/.nvmrc
  apps/api/package.json
  apps/api/src/resolvers/invoice.ts
Due: eslint --fix, prettier --write

chore(root): :heavy_minus_sign: removed un-necessary package
  apps/admin/graphql.config.js
  apps/admin/package.json
  apps/storefront/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

build(storefront): :thread: multi tenant init
  .husky/pre-commit
  apps/api/src/index.ts
  apps/storefront/src/middleware.ts
  apps/storefront/src/pages/_app.tsx
  apps/storefront/src/pages/_sites/[site]/account/address.tsx
  apps/storefront/src/pages/_sites/[site]/account/helpcenter.tsx
  apps/storefront/src/pages/_sites/[site]/account/index.tsx
  apps/storefront/src/pages/_sites/[site]/account/orders.tsx
  apps/storefront/src/pages/_sites/[site]/account/preference.tsx
  apps/storefront/src/pages/_sites/[site]/account/returns.tsx
  apps/storefront/src/pages/_sites/[site]/auth/change-password/[token].tsx
  apps/storefront/src/pages/_sites/[site]/auth/forgot-password.tsx
  apps/storefront/src/pages/_sites/[site]/auth/login.tsx
  apps/storefront/src/pages/_sites/[site]/auth/register.tsx
  apps/storefront/src/pages/_sites/[site]/auth/verify-email/[token].tsx
  apps/storefront/src/pages/_sites/[site]/cart/checkout/index.tsx
  apps/storefront/src/pages/_sites/[site]/cart/checkout/result.tsx
  apps/storefront/src/pages/_sites/[site]/cart/index.tsx
  apps/storefront/src/pages/_sites/[site]/category/index.tsx
  apps/storefront/src/pages/_sites/[site]/index.tsx
  apps/storefront/src/pages/_sites/[site]/order/[id].tsx
  apps/storefront/src/pages/_sites/[site]/products/[id].tsx
  apps/storefront/src/pages/_sites/[site]/products/favourite.tsx
  apps/storefront/src/pages/_sites/[site]/products/index.tsx
  apps/storefront/src/pages/_sites/[site]/test.tsx
  apps/storefront/src/utils/tenants.ts
  apps/storefront/tsconfig.json
  packages/eslint-config-custom/next.js
Due: eslint --fix, prettier --write

fix(storefront): :bug: fixed import errors
  apps/storefront/src/components/pages/account/order/OrderCard.tsx
  apps/storefront/src/components/pages/cart/checkout/AddressSelector.tsx
  apps/storefront/src/components/pages/cart/checkout/OrderSummary.tsx
  apps/storefront/src/components/pages/cart/checkout/PaymentSelector.tsx
  apps/storefront/src/components/pages/cart/checkout/ShippingMethod.tsx
Due: eslint --fix, prettier --write

fix(storefront): :bug: fixed account sidebar issue
  apps/admin/package.json
  apps/storefront/package.json
  apps/storefront/src/pages/_app.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(root): :bug: fixed minor admin register issue
  apps/admin/src/components/auth/RegisterForm.tsx
  apps/api/src/resolvers/GqlObjets/Admin.ts
  apps/api/src/resolvers/admin.ts
  apps/api/src/utils/validator.ts
Due: eslint --fix, prettier --write

fix(admin): :construction: link domain upon tenant creation
  apps/admin/src/components/auth/RegisterForm.tsx
  apps/api/src/constants.ts
  apps/api/src/resolvers/admin.ts
Due: eslint --fix, prettier --write

fix(admin): :bug: fixed admin auth redirects
  apps/admin/src/config/sidebar.tsx
  apps/admin/src/pages/dashboard/category.tsx
  apps/admin/src/pages/dashboard/orders.tsx
  apps/admin/src/pages/dashboard/products.tsx
  apps/admin/src/pages/dashboard/settings.tsx
  apps/admin/src/pages/dashboard/tickets.tsx
  apps/admin/src/pages/index.tsx
  apps/api/src/resolvers/admin.ts
Due: eslint --fix, prettier --write

feat(admin): :sparkles: create product form init
  apps/admin/package.json
  apps/admin/src/components/pages/products/ProductForm.tsx
  apps/admin/src/pages/dashboard/products/create.tsx
  apps/admin/src/pages/dashboard/products/index.tsx
  apps/admin/src/utils/helpers.ts
  apps/api/src/resolvers/category.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(root): :ambulance: fixed lockfile issue
  pnpm-lock.yaml
Due: none

fix(root): :bug: fixed lock file before merging
  pnpm-lock.yaml
Due: none

fix(root): :ambulance: fixed lock file issue
  pnpm-lock.yaml
Due: none

feat(admin): :sparkles: reorder image init
  apps/admin/src/components/pages/products/ProductForm.tsx
  apps/admin/src/hooks/useRaisedShadow.ts
Due: eslint --fix, prettier --write

feat(admin): :sparkles: contributed to create product form
  apps/admin/src/components/pages/products/ProductForm.tsx
  apps/admin/src/server/uploadthing.ts
Due: eslint --fix, prettier --write

chore(others): ✨ Update license to current year
  LICENSE.txt
Due: none
